<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Size 3</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>diameter</key>
				<string>1.0</string>
				<key>stones</key>
				<string>35</string>
				<key>carats</key>
				<string>0.225</string>
			</dict>
			<key>1.2</key>
			<dict>
				<key>diameter</key>
				<string>1.2</string>
				<key>stones</key>
				<string>34</string>
				<key>carats</key>
				<string>0.288</string>
			</dict>
		</dict>
		<key>Size 4</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>diameter</key>
				<string>1.0</string>
				<key>stones</key>
				<string>45</string>
				<key>carats</key>
				<string>0.225</string>
			</dict>
			<key>1.2</key>
			<dict>
				<key>diameter</key>
				<string>1.2</string>
				<key>stones</key>
				<string>44</string>
				<key>carats</key>
				<string>0.288</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
